<!DOCTYPE html>
<html lang="en">
<head>
	<% include partial/head %>
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			<!-- Logo Header -->
		<!-- <% include partial/header %> -->
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<!-- <% include partial/navbar %> -->
			<!-- End Navbar -->
		</div>

		<!-- Sidebar -->
		<!-- <% include partial/sidebar %> -->
		<!-- End Sidebar -->

		<div class="main-panel">
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Sign Up</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-8 col-lg-8">
										<form name="frm" id="myfrm" class="" action="/signup" method="post">
                      <div class="form-group">
  											<label for="name">User Name</label>
  											<input type="text" name="name" id="name" class="form-control"  placeholder="User Name">
  										</div>
                    <div class="form-group">
											<label for="email2">Email Address</label>
											<input type="email" class="form-control" name="email" id="email" placeholder="Enter Email">
											<small id="emailHelp2" class="form-text text-muted">We'll never share your email with anyone else.</small>
										</div>
										<div class="form-group">
											<label for="password">Password</label>
											<input type="password" name="pwd" class="form-control" id="pwd" placeholder="Password">
										</div>

									</div>

								</div>
							</div>
							<div class="card-action">
								<button type="button" id="sub" class="btn btn-success">Sign Up</button>
								<button class="btn btn-danger">Cancel</button>
							</div>
						</form>
						</div>
					</div>
				</div>
			</div>
			<%include partial/footer %>
		</div>

		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
			<div class="title">Settings</div>
			<div class="custom-content">
				<div class="switcher">
					<div class="switch-block">
						<h4>Logo Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeLogoHeaderColor" data-color="dark"></button>
							<button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="green"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="red"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="white"></button>
							<br/>
							<button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Navbar Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeTopBarColor" data-color="dark"></button>
							<button type="button" class="changeTopBarColor" data-color="blue"></button>
							<button type="button" class="changeTopBarColor" data-color="purple"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue"></button>
							<button type="button" class="changeTopBarColor" data-color="green"></button>
							<button type="button" class="changeTopBarColor" data-color="orange"></button>
							<button type="button" class="changeTopBarColor" data-color="red"></button>
							<button type="button" class="changeTopBarColor" data-color="white"></button>
							<br/>
							<button type="button" class="changeTopBarColor" data-color="dark2"></button>
							<button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="purple2"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="green2"></button>
							<button type="button" class="changeTopBarColor" data-color="orange2"></button>
							<button type="button" class="changeTopBarColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Sidebar</h4>
						<div class="btnSwitch">
							<button type="button" class="selected changeSideBarColor" data-color="white"></button>
							<button type="button" class="changeSideBarColor" data-color="dark"></button>
							<button type="button" class="changeSideBarColor" data-color="dark2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Background</h4>
						<div class="btnSwitch">
							<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
							<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
							<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							<button type="button" class="changeBackgroundColor" data-color="dark"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-toggle">
				<i class="flaticon-settings"></i>
			</div>
		</div>
		<!-- End Custom template -->
	</div>
	<% include partial/script %>
</body>
<script src="/javascripts/jquery-3.4.1.js" charset="utf-8"></script>
<script type="text/javascript">
  $('#email').blur(function () {

    var data = {email:$('#email').val()};
    if (data.email !='') {
    $.ajax({url:'/duemail',data:data,type:'POST',
        success:function (result) {
          if(result.status){
            alert('duplicate email or invalide email');
            $('#email').val('');
            $('#email').focus();
          }
        }
      })
    }
  })

  $('#sub').click(function () {
    var datap = {password:$('#pwd').val()};
    if (datap.password != '') {

    $.ajax({url:'/pwdval',data:datap,type:'POST',
      success:function (result) {
        if(result.status){
          if($('#email').val() == '' || $('#name').val()==''){
            alert('please enter other field')
          }else {
            frm.submit();
          }

        }else {
          alert('Password is not validate');
          $('#pwd').val('');
          $('#pwd').focus();
        }
      }
  })

}
  })

</script>
</html>
